/* Font import */
@font-face {
  font-family: Kolonia;
  src:  url('/fonts/Kolonia-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Kolonia;
  src:  url('/fonts/Kolonia-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: Karrik;
  src:  url('/fonts/Karrik-Regular.woff2') format('woff2');
  src:  url('/fonts/Karrik-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Karrik;
  src:  url('/fonts/Karrik-Italic.woff2') format('woff2');
  src:  url('/fonts/Karrik-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}


/* Reset */
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
:root{
  --gutter: 3rem;
  --transition: cubic-bezier(.77,0,.175,1) 500ms;
  --green: #00D082;
  --white: #FFFFFF;
  --forest: #184B46;
}
html {
  font-family: Karrik, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  color: var(--white);
  background-color: var(--forest);
  font-size: clamp(18px, 18px, 18px);
  line-height: 1.2;
  letter-spacing: .01em;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  white-space: pre-line;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
#root, #__next {
  isolation: isolate;
}
a:-webkit-any-link {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
a:any-link {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
a {
  display: inline-block;
  width: auto;
  position: relative;
}
@media screen and (max-width: 900px) {
  :root{
    --gutter: 1.5rem;
  }
}